@model Store.Models.Product
@{
    ViewBag.Title = "New";
}

<h2>Update Product</h2>

@using (Html.BeginForm("SaveUpdate", "Product"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.ProductName)
        @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Price)
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}

